//color
$cl-white-1: #ffffff;
$cl-white-2: #F2F2F3;
$cl-white-3: #C3C3C3;
$cl-gray-1:#565758;
$cl-gray-2:#727374;
$cl-gray-3:#B2B3B4;
$cl-gray-4:#D1D1D2;
$cl-yellow-1:#E9AC75;
$cl-yellow-2:#EDA664;
$cl-black-1: black;
$cl-black-2: #1A1C1E;
$cl-black-3: #121416;
//font-size
$fs-0: 1.4rem;
$fs-1: 1.8rem;
$fs-2: 2.4rem;
$fs-3: 4rem;
$fs-4: 6rem;

//padding
$pd-0: 5px;
$pd-1: 10px;
$pd-2: 15px;
$pd-3: 20px;
$pd-4: 25px;
$pd-5: 30px;
$pd-6: 35px;
$pd-7: 50px;
$pd-8: 100px;
//margin
$mg-0: 5px;
$mg-1: 10px;
$mg-2: 15px;
$mg-3: 20px;
$mg-4: 25px;
$mg-5: 30px;
$mg-6: 35px;
$mg-7: 60px;